<div class="login-content  d-flex  align-items-center ">
    <div class="container-fluid small-content ">
        <div class="row justify-content-between align-items-center px-4 py-lg-5 py-md-5 py-sm-2">
            <div class="col-md-7 side-content">
                <div class="ms-5">
                    <h1>#1 <span>Time Tracker App </span> for</h1>
                    <h1>desk,Mobile and  & Remote </h1>
                </div>
                <div class="mt-5">
                    <img src="../../../assets/images/computer.png" alt="">
                </div>
              
            </div>
            <div class="col-md-5 loginForm p-5   ">
              
            
                    <div class="text-center">
                        <img src="../../../assets/images/logo.png"  alt="">
                    </div>
                
            
                <div class="mt-3 text-center"><h1>Login</h1></div>
                <div class="mt-3">
                    <label for="email"> Email</label>
                    <input type="text" class="form-control" name="email">

                </div>
                <div class="mt-3">
                    <label for="password"> Password </label>
                    <input type="text" class="form-control" name="email">

                </div>
                <div class="d-flex justify-content-end align-items-center">
                    <a href="">Forget password</a>
                </div>
                <div class="mt-3">
                    <button class="btn btn-alt form-control" routerLink="/home">Submit </button>
                </div>
                </div>

        
        
        </div>

    </div>

</div>
