<div class="login-content">
    <div>
        <div class="login-form  px-md-5 px-sm-0 text-light">
            <div class="text-center">
               <img src="../../../assets/images/tittle.svg.svg" alt="">
            </div>
            <div class="mt-3 text-center">
                <h3>Hello Again !</h3>
                <p class="m-0 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, corrupti!</p>
                <p class="m-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint, ea!</p>

            </div>
            <div class="mt-3 ">
                <label for="name" >Email</label>
                <input type="text" class="form-control input"  placeholder="email" name="name">
            </div>
            <div class="mt-3">
                <label for="password " > password</label>
                <input type="password" class="form-control input" name="password">
            </div>
            <div class="mt-1 d-flex justify-content-end align-items-center">
               <a href="">Forget Password</a>
            </div>
            <div class="mt-3">
                <button class="btn submitButton form-control"> Submit</button>
            </div>
            </div>
    </div>
</div>
