<nav class="navbar navbar-expand-lg fixed-top  navbar-light  bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> <img src="../../../assets/images/logo.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarTogglerDemo01">

        <div class="ms-auto text-center content ">
            <div class=" contentCenter">
            <div class="nav-item px-2"> Categories </div>
            <div class="nav-item px-2">Company</div>
          
            </div>

        </div>
        

        

        <div class="ms-auto">
            <div class="d-flex justify-content-start align-items-center">
                <div class="me-2">
                    <h6 class="m-0">Joel Jhonson</h6>
                    <span> Admin</span>
                </div>
                <div class="image">

                </div>
            </div>

        </div>
      </div>
    </div>
  </nav>

