/* You can add global styles to this file, and also import other style files */ /* open page  */
.logopage {
  background-image: linear-gradient(to right top, #838589, #5c75ab, #3061c9, #0047df, #2412eb);
  background-repeat: no-repeat;
  height: 768px;
}

.forms {
  height: 768px;
  top: 0px;
  right: 100px;
  width: 420px;
}

.navbar {
  border-bottom: 1px solid black;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* logo section */
.logo {
  width: 70px;
  height: 70px;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.1607843137);
  border-radius: 15px;
  box-shadow: 0px 3px rgba(0, 0, 0, 0.1607843137);
}

.card1 {
  height: 150px;
}

.card2 {
  height: 100px;
}

.lastcontent {
  width: 200px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.1607843137);
  box-shadow: 0px 3px rgba(0, 0, 0, 0.1607843137);
  border-radius: 15px;
}

.mobiletable {
  display: none;
}

.input1 {
  border: 1px solid #001C8E;
}

.button1 {
  background-color: #FE9A2D;
  color: white;
  border-radius: 10px;
}

.searchicon {
  top: 10px;
  right: 10px;
}

.button2 {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.button3 {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

thead {
  background-color: #001C8E;
  color: white;
}

.content-2 {
  border-radius: 15px;
}

.downicon {
  top: 40px;
  right: 15px;
}

.textbox input {
  height: 80px;
}

.calendericon {
  top: 35px;
  right: 10px;
}

.tabledownicon {
  top: 38px;
  right: 5px;
}

.showtable {
  font-size: 12px;
  font-weight: 500;
}

/* modal */
.modaldialog {
  max-width: 1500px;
}

.modal-content {
  border-radius: 15px;
}

.modal {
  border-radius: 30px;
}

.listgroup {
  width: 200px;
}

.modaltable {
  display: none;
}

.inputicon {
  top: 10px;
  right: 5px;
}

/* put away section */
.tableinput {
  width: 70px;
  border: none;
}

.producttable {
  top: -10px;
}

.modaldialog2 {
  max-width: 1500px;
}

/* putaway Modal Input */
.putawaymodalinput {
  width: 300px;
}

.modalinputicon {
  top: 35px;
  left: 280px;
}

.modalinputproducticon {
  top: 10px;
  left: 280px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*=col-6] {
    width: 100%;
  }
  [class*=col-3] {
    width: 50%;
  }
  .col-md-2 {
    display: none;
  }
  .input1 {
    margin-bottom: 10px;
  }
  .mobiletable {
    display: contents;
  }
  .tablecontent1 {
    display: none;
  }
  .showtable {
    display: none;
  }
  .modaltable {
    display: contents;
  }
  .logopage {
    visibility: hidden;
  }
  .forms {
    visibility: visible;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: 1px solid blue;
    margin-top: 10px;
    width: 200px;
  }
}
/* Toolbar */
/*  Side Bar */
/*  Breadcrumb  */
/* ================================================================================ */
/*                                    Layout Styles                                 */
/* ================================================================================ */
.app-wrapper {
  position: relative;
}
.app-wrapper .global-container {
  background: var(--app-page-background);
  height: 100%;
}
.app-wrapper .global-container .side-nav-bar-container {
  width: 230px;
  margin-left: -230px;
  position: fixed;
  left: 0;
  transition: all 0.3s linear;
  min-height: calc(100vh - 92px);
  height: 100%;
  z-index: 4;
  background: #fff;
  /* width */
}
.app-wrapper .global-container .side-nav-bar-container::after {
  content: "";
}
.app-wrapper .global-container .side-nav-bar-container .side-nav-bar-box {
  width: 230px;
  transition: all 0.3s linear;
}
.app-wrapper .global-container .side-nav-bar-container .menu-logo-container .only-icon-tag {
  width: 0;
}
.app-wrapper .global-container .side-nav-bar-container .menu-logo-container .full-image-tag {
  width: auto;
}
.app-wrapper .global-container .side-nav-bar-container .side-nav-bar-menu {
  overflow: hidden;
  overflow-y: auto;
}
.app-wrapper .global-container .side-nav-bar-container .side-nav-bar-menu .sub-menu-container {
  transition: height 0.5s ease;
}
.app-wrapper .global-container .app-nav-tool-bar {
  position: fixed;
  top: 0;
  right: 0;
  height: 92px;
  width: 100%;
  background-color: var(--app-page-background);
  z-index: 3;
}
.app-wrapper .global-container .app-main-container {
  position: relative;
  min-height: 100vh;
  padding: 16px;
  margin-left: 0;
  padding-top: 92px;
}
.app-wrapper .global-container .app-main-container.no-margin-padding {
  margin: 0;
  padding: 0;
  min-height: auto;
}
.app-wrapper .global-container .app-main-container .breadcrumb-stick-bar {
  position: fixed;
  top: 92px;
  right: 0;
  height: 64px;
  width: 100%;
  z-index: 2;
  display: flex;
  background: var(--app-page-background);
  transition: width 0.3 linear;
}
.app-wrapper .global-container .backdrop-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}
.app-wrapper .global-container .backdrop-overlay.backdrop-animate-opacity {
  animation: opacity 0.8s;
}
.app-wrapper.mobile-side-bar .side-nav-bar-container {
  margin-left: 0;
  position: fixed;
}
.app-wrapper.mobile-side-bar .backdrop-overlay {
  display: block;
}
.app-wrapper.mobile-side-bar .menu-logo-container .only-icon-tag {
  width: 0;
}
.app-wrapper.mobile-side-bar .menu-logo-container .full-image-tag {
  width: auto;
}

@media only screen and (min-width: 992px) {
  .app-wrapper .global-container .side-nav-bar-container {
    position: fixed;
    margin-left: 0;
  }
  .app-wrapper .global-container .app-nav-tool-bar {
    width: calc(100% - 230px);
  }
  .app-wrapper .global-container .app-main-container {
    margin-left: 230px;
  }
  .app-wrapper .global-container .app-main-container.no-margin-padding {
    margin: 0;
    padding: 0;
    min-height: auto;
  }
  .app-wrapper .global-container .app-main-container .breadcrumb-stick-bar .breadcrumb-wrapper {
    padding-left: calc(230px + 16px);
  }
}/*# sourceMappingURL=styles.css.map */